@page "/post-job"
@page "/edit-post/{id}"

<AuthorizeView Roles="Client" Context="auth_post_job">
    <Authorized>
        <div class="d-xl-flex">
        <!-- Sidebar -->
        <SideBar />
        <!-- Mobile Menu -->
        <MobileMenu />
        <!-- Content -->
        <div class="flex-grow-1 align-items-center">
            <!-- Header -->
            <DashboardHeader />
            <!-- Main -->
            <main class="dashboard-main min-vh-100">
            <div class="d-flex flex-column gap-4 pb-110">
                <!-- Page Header -->
                <div>
                <h3 class="text-24 fw-bold text-dark-300 mb-2">Post a Job</h3>
                <ul class="d-flex align-items-center gap-2">
                    <li class="text-dark-200 fs-6">Dashboard</li>
                    <li>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="5"
                        height="11"
                        viewBox="0 0 5 11"
                        fill="none"
                    >
                        <path
                        d="M1 10L4 5.5L1 1"
                        stroke="#5B5B5B"
                        stroke-width="1.2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        />
                    </svg>
                    </li>
                    <li class="text-lime-300 fs-6">Post a Job</li>
                </ul>
                </div>
                <!-- Content -->
                <div>
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                    <EditForm Model="jobDTO" OnValidSubmit="PublishJob">
                        <div class="d-flex flex-column gap-4">
                        <!-- Project Info -->
                        <div class="gig-info-card">
                            <!-- Header -->
                            <div class="gig-info-header">
                            <h4 class="text-18 fw-semibold text-dark-300">
                                Job Info
                            </h4>
                            </div>
                            <div class="gig-info-body bg-white">
                            <div class="row g-4">
                                <div class="col-12">
                                <div class="form-container">
                                    <label for="title" class="form-label">Job Title
                                    <span class="text-lime-300">*</span></label>
                                    <input @bind="jobDTO.Title"
                                    type="text"
                                    class="form-control shadow-none"
                                    placeholder="Title name here"
                                    required/>
                                </div>
                                </div>
                                <div class="col-12">
                                <label for="description" class="form-label"
                                    >Description <span class="text-lime-300">*</span></label>
                                    <textarea @bind="jobDTO.Description"
                                    type="text"
                                    id="description"
                                    class="form-control shadow-none"
                                    placeholder="We are seeking a skilled and experienced technical ..."
                                    style="min-height: 160px;"
                                    required/>
                                </div>
                                
                                <div class="col-6">
                                <div class="form-container">
                                    <label for="budget" class="form-label"
                                    >Budget(ETB) <span style="opacity: .5;">[ Optional ]</span></label>
                                    <input @bind="jobDTO.Budget"
                                    id="budget"
                                    type="text"
                                    class="form-control shadow-none"
                                    placeholder="1200.00"
                                    />
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                    <label for="jobDuration" class="form-label">
                                    Job Duration <span class="text-lime-300"
                                        >*</span>
                                    </label><br />
                                    <input @bind="jobDurationNumber"
                                    id="jobDuration-number"
                                    type="number"
                                    class="form-control shadow-none"
                                    style="width: 180px; display: inline-block;"
                                    required/>
                                    <select @bind="jobDurationText"
                                        id="jobDuration"
                                        autocomplete="off"
                                        class="form-select shadow-none"
                                        style="width: 180px; display: inline-block;" required>
                                        <option value="Days">Days</option>
                                        <option value="Weeks">Weeks</option>
                                        <option value="Months">Months</option>
                                        <option value="Years">Years</option>
                                    </select>
                                </div>
                                </div>
                                <div class="col-6">
                                <div class="form-container">
                                    <label for="deadline" class="form-label"
                                    >Deadline
                                    <span class="text-lime-300">*</span></label>
                                    <input @bind="jobDTO.Deadline"
                                    id="location"
                                    type="date"
                                    class="form-control shadow-none"
                                    placeholder="Location here"
                                    required/>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                    <label for="jobType" class="form-label"
                                    >Job Type</label>
                                    <select @bind="jobDTO.JobTypeId"
                                    id="jobType"
                                    autocomplete="off"
                                    class="form-select shadow-none"
                                    required>
                                    <option value="">Select Job Type</option>
                                    @foreach (var jobType in jobTypes) {
                                        <option value="@jobType.Id">@jobType.Name</option>
                                    }
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                    <label for="paymentType" class="form-label"
                                    >Payment Type <span class="text-lime-300">*</span></label>
                                    <select @bind="jobDTO.PaymentTypeId"
                                    id="paymentType"
                                    autocomplete="off"
                                    class="form-select shadow-none"
                                    required>
                                    <option value="">Select Payment Type</option>
                                    @foreach (var paymentType in paymentTypes) {
                                        <option value="@paymentType.Id">@paymentType.Name</option>
                                    }
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                    <label for="country" class="form-label">Country <span class="text-lime-300">*</span></label>
                                    <select @bind="countryId" @bind:event="oninput" @onchange="OnCountryChange" autocomplete="off"
                                    class="form-select shadow-none" name="country" id="country" required>
                                        <option value="">Select Country</option>
                                        @foreach (var country in countries)
                                        {
                                            <option value="@country.Id">@country.Name</option>
                                        }
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                    <label for="region" class="form-label">Region <span class="text-lime-300">*</span></label>
                                    <select @bind="regionId" @bind:event="oninput" @onchange="OnRegionChange"
                                    class="form-select shadow-none" name="country" id="country" required>
                                        <option value="">Select City</option>
                                        @if (regions != null) {
                                            @foreach (var region in regions)
                                            {
                                                <option value="@region.Id">@region.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-input">
                                    <label for="city" class="form-label">City <span class="text-lime-300">*</span></label>
                                    <select @bind="jobDTO.LocationId"
                                    class="form-select shadow-none" name="country" id="country" required>
                                        <option value="">Select City</option>
                                        @if (cities != null) {
                                            @foreach (var city in cities)
                                            {
                                                <option value="@city.Id">@city.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="profile-info-card">
                        <!-- Header -->
                            <div class="profile-info-header">
                                <h4 class="text-18 fw-semibold text-dark-300">
                                Skills Required
                                </h4>
                            </div>
                            <div class="profile-info-body bg-white">
                                <div class="row g-4">
                                <div class="col-12">
                                    <select @bind="@SkillId"
                                    class="form-select shadow-none">
                                        <option value="" selected>Select Skills</option>
                                        @foreach (var skl in AllSkills) {
                                            <option value="@skl.Id" @onclick="AddSkill">@skl.Name</option>
                                        }
                                    </select>
                                    <div
                                    class="skill-cloud mt-4 d-flex align-items-center gap-3 flex-wrap">
                                    @foreach(var skill in jobSkills) {
                                        <span class="skill-cloud-item" style="cursor: pointer;" @onclick="@(() => removeSkill(@skill))">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="7"
                                            height="8"
                                            viewBox="0 0 7 8"
                                            fill="none"
                                        >
                                            <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M0.214855 0.714855C0.501329 0.428382 0.965796 0.428382 1.25227 0.714855L3.5 2.96259L5.74773 0.714856C6.0342 0.428382 6.49867 0.428382 6.78514 0.714856C7.07162 1.00133 7.07162 1.4658 6.78514 1.75227L4.53741 4L6.78514 6.24773C7.07162 6.5342 7.07162 6.99867 6.78514 7.28514C6.49867 7.57162 6.0342 7.57162 5.74773 7.28514L3.5 5.03741L1.25227 7.28514C0.965796 7.57162 0.50133 7.57162 0.214856 7.28514C-0.0716182 6.99867 -0.0716181 6.5342 0.214856 6.24773L2.46259 4L0.214855 1.75227C-0.0716185 1.4658 -0.0716185 1.00133 0.214855 0.714855Z"
                                            fill="#907386"
                                            />
                                        </svg>
                                        @skill.Name
                                        </span>

                                    }
                                    @if (jobSkills.Count == 0) {
                                        <p>No Skill selected.</p>
                                    }
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-info-card">
                        <!-- Header -->
                            <div class="profile-info-header">
                                <h4 class="text-18 fw-semibold text-dark-300">
                                Possible Fields
                                </h4>
                            </div>
                            <div class="profile-info-body bg-white">
                                <div class="row g-4">
                                <div class="col-12">
                                    <select @bind="@FieldId"
                                    class="form-select shadow-none">
                                        <option value="" selected>Select Fields</option>
                                        @foreach (var fld in AllFields) {
                                            <option value="@fld.Id" @onclick="AddField">@fld.Name</option>
                                        }
                                    </select>
                                    <div
                                    class="skill-cloud mt-4 d-flex align-items-center gap-3 flex-wrap">
                                    @foreach(var field in jobFields) {
                                        <span class="skill-cloud-item" style="cursor: pointer;" @onclick="@(() => removeField(@field))">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="7"
                                            height="8"
                                            viewBox="0 0 7 8"
                                            fill="none"
                                        >
                                            <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M0.214855 0.714855C0.501329 0.428382 0.965796 0.428382 1.25227 0.714855L3.5 2.96259L5.74773 0.714856C6.0342 0.428382 6.49867 0.428382 6.78514 0.714856C7.07162 1.00133 7.07162 1.4658 6.78514 1.75227L4.53741 4L6.78514 6.24773C7.07162 6.5342 7.07162 6.99867 6.78514 7.28514C6.49867 7.57162 6.0342 7.57162 5.74773 7.28514L3.5 5.03741L1.25227 7.28514C0.965796 7.57162 0.50133 7.57162 0.214856 7.28514C-0.0716182 6.99867 -0.0716181 6.5342 0.214856 6.24773L2.46259 4L0.214855 1.75227C-0.0716185 1.4658 -0.0716185 1.00133 0.214855 0.714855Z"
                                            fill="#907386"
                                            />
                                        </svg>
                                        @field.Name
                                        </span>

                                    }
                                    @if (jobFields.Count == 0) {
                                        <p>No Field selected.</p>
                                    }
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>

                        <!-- Submit Btn -->
                        <div>
                            @if (hasError) {
                                <ul>
                                    @foreach (var message in errorMessages) {
                                        <li style="list-style: circle;" class="text-danger m-4">@message</li>
                                    }
                                </ul>
                            }
                            <button type="submit" class="w-btn-secondary-lg">
                            Publish Job
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="14"
                                height="10"
                                viewBox="0 0 14 10"
                                fill="none"
                            >
                                <path
                                d="M9 9L13 5M13 5L9 1M13 5L1 5"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                />
                            </svg>
                            </button>
                        </div>
                        </div>
                    </EditForm>
                    </div>
                </div>
                </div>
            </div>
            </main>
        </div>
        </div>
    </Authorized>
    <NotAuthorized>
        401 page
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public string? Id { get; set; }
    private JobDTO jobDTO = new JobDTO();
    private string LoggedInUserId;

    private List<Location> countries = new();
    private List<Location>? regions = null;
    private List<Location>? cities = null;
    private List<JobType> jobTypes = new List<JobType>();
    private List<PaymentType> paymentTypes = new List<PaymentType>();
    private List<string> errorMessages = new List<string>();
    private string endpoint = "countries";
    private int countryId;
    private int regionId;
    private int SkillId { get; set; }
    private int FieldId { get; set; }
    List<Field> AllFields = new List<Field>();
    List<Skill> AllSkills = new List<Skill>();
    List<Skill> jobSkills = new List<Skill>();
    List<Field> jobFields = new List<Field>();


    private string jobDurationNumber = "";
    private string jobDurationText = "";
    private bool hasError = false;


    protected override async Task OnInitializedAsync()
    {
        countries = await LocationService.GetLocations(endpoint);
        endpoint = "regions/";

        jobTypes = await JobTypeService.GetAllJobTypesAsync();
        paymentTypes = await PaymentTypeService.GetAllPaymentTypesAsync();

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        LoggedInUserId = AccountService.GetLoggedInUserIdAsync(authState).Value;

        AllFields = await FieldService.GetAllFieldsAsync();
        AllSkills = await SkillService.GetAllSkillsAsync();
    }


     private async Task OnCountryChange()
    {
        regions = await LocationService.OnLocationChange(countryId, endpoint);
        if (regions != null)
            endpoint = "cities/";
    }

    private async Task OnRegionChange()
    {
        cities = await LocationService.OnLocationChange(regionId, endpoint);
    }


    private async Task PublishJob() {
        if (string.IsNullOrEmpty(jobDTO.Title)) {
            errorMessages.Add("Job Title cannot be empty.");
        }
        if (string.IsNullOrEmpty(jobDTO.Description)) {
            errorMessages.Add("Description cannot be empty.");
        }
        if (jobDTO.Title == null) {
            errorMessages.Add("Deadline cannot be empty.");
        }
        if (jobDTO.LocationId == null) {
            errorMessages.Add("Location cannot be empty.");
        }
        if (jobDTO.PaymentTypeId == null) {
            errorMessages.Add("Payment Type cannot be empty.");
        }
        if (jobDTO.JobTypeId == null) {
            errorMessages.Add("Job Type cannot be empty.");
        }

        if (errorMessages.Count > 0) {
            hasError = true;
            return;
        }

        jobDTO.Duration = jobDurationNumber + " " + jobDurationText;
        if (string.IsNullOrEmpty(jobDTO.Duration)) {
            errorMessages.Add("Duration cannot be empty.");
        }

        jobDTO.Skills = jobSkills;
        jobDTO.Fields = jobFields;

        jobDTO.UserId = LoggedInUserId;
        var res = await JobService.CreateJobAsync(jobDTO);
        if (res.Flag)
            Navigation.NavigateTo("/dashboard");
        else {
            errorMessages.Add(res.Message);
            hasError = true;
        }
    }

    private void AddSkill() {
        foreach(var ss in jobSkills) {
            if (ss.Id == SkillId)
                return;
        }
        jobSkills.Add(AllSkills.FirstOrDefault(s => s.Id == SkillId));
    }
    private void AddField() {

        foreach(var ff in jobFields) {
            if (ff.Id == FieldId)
                return;
        }
        jobFields.Add(AllFields.FirstOrDefault(f => f.Id == FieldId));
    }

    private void removeSkill(Skill element) {
        jobSkills.Remove(element);
    }
    private void removeField(Field element) {
        jobFields.Remove(element);
    }
}