@page "/post-job"

<AuthorizeView Roles="Client">
    <Authorized>
        <div class="d-xl-flex">
        <!-- Sidebar -->
        <SideBar />
        <!-- Mobile Menu -->
        <MobileMenu />
        <!-- Content -->
        <div class="flex-grow-1 align-items-center">
            <!-- Header -->
            <DashboardHeader />
            <!-- Main -->
            <main class="dashboard-main min-vh-100">
            <div class="d-flex flex-column gap-4 pb-110">
                <!-- Page Header -->
                <div>
                <h3 class="text-24 fw-bold text-dark-300 mb-2">Post a Job</h3>
                <ul class="d-flex align-items-center gap-2">
                    <li class="text-dark-200 fs-6">Dashboard</li>
                    <li>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="5"
                        height="11"
                        viewBox="0 0 5 11"
                        fill="none"
                    >
                        <path
                        d="M1 10L4 5.5L1 1"
                        stroke="#5B5B5B"
                        stroke-width="1.2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        />
                    </svg>
                    </li>
                    <li class="text-lime-300 fs-6">Post a Job</li>
                </ul>
                </div>
                <!-- Content -->
                <div>
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                    <form>
                        <div class="d-flex flex-column gap-4">
                        <!-- Project Info -->
                        <div class="gig-info-card">
                            <!-- Header -->
                            <div class="gig-info-header">
                            <h4 class="text-18 fw-semibold text-dark-300">
                                Job Info
                            </h4>
                            </div>
                            <div class="gig-info-body bg-white">
                            <div class="row g-4">
                                <div class="col-12">
                                <div class="form-container">
                                    <label for="title" class="form-label">Job Title
                                    <span class="text-lime-300">*</span></label>
                                    <input
                                    type="text"
                                    class="form-control shadow-none"
                                    placeholder="Title name here"
                                    />
                                </div>
                                </div>
                                <div class="col-12">
                                <label for="description" class="form-label"
                                    >Description*</label>
                                    <textarea
                                    type="text"
                                    id="description"
                                    class="form-control shadow-none"
                                    placeholder="We are seeking a skilled and experienced technical ..."
                                    style="min-height: 160px;"
                                    />
                                </div>
                                
                                <div class="col-6">
                                <div class="form-container">
                                    <label for="budget" class="form-label"
                                    >Budget(ETB)</label>
                                    <input
                                    id="budget"
                                    type="text"
                                    class="form-control shadow-none"
                                    placeholder="1200.00"
                                    />
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                    <label for="jobDuration" class="form-label">
                                    Job Duration<span class="text-lime-300"
                                        >*</span>
                                    </label><br />
                                    <input
                                    id="jobDuration-number"
                                    type="number"
                                    class="form-control shadow-none"
                                    style="width: 180px; display: inline-block;"
                                    value="1"
                                    />
                                    <select
                                        id="jobDuration"
                                        autocomplete="off"
                                        class="form-select shadow-none"
                                        style="width: 180px; display: inline-block;">
                                        <option value="Days">Days</option>
                                        <option value="Weeks">Weeks</option>
                                        <option value="Months">Months</option>
                                        <option value="Years">Years</option>
                                    </select>
                                </div>
                                </div>
                                <div class="col-6">
                                <div class="form-container">
                                    <label for="deadline" class="form-label"
                                    >Deadline
                                    <span class="text-lime-300">*</span></label>
                                    <input
                                    id="location"
                                    type="text"
                                    class="form-control shadow-none"
                                    placeholder="Location here"
                                    />
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                    <label for="jobType" class="form-label"
                                    >Job Type</label>
                                    <select
                                    id="jobType"
                                    autocomplete="off"
                                    class="form-select shadow-none"
                                    >
                                    <option value="0">Remote</option>
                                    <option value="1">On-Site</option>
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                    <label for="paymentType" class="form-label"
                                    >Payment Type <span class="text-lime-300">*</span></label>
                                    <select
                                    id="paymentType"
                                    autocomplete="off"
                                    class="form-select shadow-none"
                                    >
                                    <option value="0">Cash</option>
                                    <option value="1">Direct Bank Transfer</option>
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                    <label for="country" class="form-label">Country <span class="text-lime-300">*</span></label>
                                    <select @bind="countryId" @bind:event="oninput" @onchange="OnCountryChange" autocomplete="off"
                                    class="form-select shadow-none" name="country" id="country" required>
                                        <option value="">Select Country</option>
                                        @foreach (var country in countries)
                                        {
                                            <option value="@country.Id">@country.Name</option>
                                        }
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                    <label for="region" class="form-label">Region <span class="text-lime-300">*</span></label>
                                    <select @bind="regionId" @bind:event="oninput" @onchange="OnRegionChange"
                                    class="form-select shadow-none" name="country" id="country" required>
                                        <option value="">Select City</option>
                                        @if (regions != null) {
                                            @foreach (var region in regions)
                                            {
                                                <option value="@region.Id">@region.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-input">
                                    <label for="city" class="form-label">City <span class="text-lime-300">*</span></label>
                                    <select 
                                    class="form-select shadow-none" name="country" id="country" required>
                                        <option value="">Select City</option>
                                        @if (cities != null) {
                                            @foreach (var city in cities)
                                            {
                                                <option value="@city.Id">@city.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>


                        <!-- Submit Btn -->
                        <div>
                            <button type="submit" class="w-btn-secondary-lg">
                            Publish Job
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="14"
                                height="10"
                                viewBox="0 0 14 10"
                                fill="none"
                            >
                                <path
                                d="M9 9L13 5M13 5L9 1M13 5L1 5"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                />
                            </svg>
                            </button>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            </main>
        </div>
        </div>
    </Authorized>
    <NotAuthorized>
        401 page
    </NotAuthorized>
</AuthorizeView>


@code {
    private List<Location> countries = new();
    private List<Location>? regions = null;
    private List<Location>? cities = null;
    private string endpoint = "countries";
    private int countryId;
    private int regionId;

     protected override async Task OnInitializedAsync()
    {
        countries = await LocationService.GetLocations(endpoint);
        endpoint = "regions/";
    }


     private async Task OnCountryChange()
    {
        regions = await LocationService.OnLocationChange(countryId, endpoint);
        if (regions != null)
            endpoint = "cities/";
    }

    private async Task OnRegionChange()
    {
        cities = await LocationService.OnLocationChange(regionId, endpoint);
    }
}