@page "/my-company"
@using System.Security.Claims


<AuthorizeView Roles="Client">
    <Authorized>
        <div class="hero-image"></div>
        <div class="form-container">
            <div class="form-box">
                <h2>Company</h2>
                <EditForm Model="companyInfo" OnValidSubmit="addCompany" Context="editContext">
                    <div class="form-data">
                        <label>Name</label><br/>
                        <input @bind="companyInfo.CompanyName" Type="text" class="name"><br />
                        <label>TIN</label><br />
                        <input @bind="companyInfo.TinNo" Type="text" class="tin"><br />
                        <label>Stablished At: </label>
                        <input @bind="companyInfo.CompanyStablishedAt" Type="datetime" class="dateStablished"><br />


                        <label>Location</label><br />
                        <div class="loc-options">
                            <label>Country</label><br />
                            <select @bind="countryId" @bind:event="oninput" @onchange="OnCountryChange">
                                <option value="">Select Country</option>
                                @foreach (var country in countries)
                                {
                                    <option value="@country.Id">@country.Name</option>
                                }
                            </select><br />
                            <label>Region</label><br />
                            <select @bind="regionId" @bind:event="oninput" @onchange="OnRegionChange">
                                <option value="">Select Region</option>
                                @if (regions != null) {
                                    @foreach (var region in regions)
                                    {
                                        <option value="@region.Id">@region.Name</option>
                                    }
                                }
                            </select><br />
                            <label>City</label><br />
                            <select @bind="companyInfo.CompanyLocationId">
                                <option value="">Select City</option>
                                @if (cities != null) {
                                    @foreach (var city in cities)
                                    {
                                        <option value="@city.Id">@city.Name</option>
                                    }
                                }
                            </select><br />
                        </div>
                    </div>
                    <button type="submit" class="save-company-info">Save</button>
                </EditForm>
            </div>
        </div>



    </Authorized>
    <NotAuthorized>
        404 page
    </NotAuthorized>
</AuthorizeView>

@code {
    private CompanyInfoDTO companyInfo = new();
    private List<Location> countries = new();
    private List<Location>? regions = null;
    private List<Location>? cities = null;
    private string endpoint = "countries";

    private int countryId;
    private int regionId;

    protected override async Task OnInitializedAsync()
    {
        countries = await LocationService.GetLocations(endpoint);
        endpoint = "regions/";

        // extracting loggedin user's id
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier);

        companyInfo.UserId = user.Value;
    }


    private async Task OnCountryChange()
    {
        regions = await LocationService.OnLocationChange(countryId, endpoint);
        if (regions != null)
            endpoint = "cities/";
    }

    private async Task OnRegionChange()
    {
        cities = await LocationService.OnLocationChange(regionId, endpoint);
    }

    private void addCompany() {
        ProfileService.AddCompanyAsync(companyInfo);
    }
}
