<h2 class="page-title mb-1">Profile</h2>

<div class="container">
    @if (isEditing) {
        <h2>Edit Profile</h2>
        <form>
            <div class="form-group">
                <label for="profileImage">Profile Image</label>
                <img id="profileImagePreview" src="img/default-avatar.png" alt="Profile Image Preview">
                @* <input type="file" id="profileImage" name="profileImage" accept="image/*"> *@
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input @bind="profileDTO.FirstName" type="text" required>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input @bind="profileDTO.LastName" type="text" required>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <select @bind="countryId" @bind:event="oninput" @onchange="OnCountryChange">
                    <option value="">Select Country</option>
                    @foreach (var country in countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
                <label>Region</label>
                <select @bind="regionId" @bind:event="oninput" @onchange="OnRegionChange">
                    <option value="">Select Region</option>
                    @if (regions != null) {
                        @foreach (var region in regions)
                        {
                            <option value="@region.Id">@region.Name</option>
                        }
                    }
                </select>
                <label>City</label>
                <select @bind="profileDTO.LocationId">
                    <option value="">Select City</option>
                    @if (cities != null) {
                        @foreach (var city in cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Headline</label>
                <input @bind="profileDTO.Headline" type="text" required>
            </div>
            <div class="form-group">
                <label for="educationLevel">Education Level</label>
                <select @bind="profileDTO.EducationLevel" required>
                    <option value="">Select Education Level</option>
                    <option value="High School">High School</option>
                    <option value="Bachelor's Degree">Bachelor's Degree</option>
                    <option value="Master's Degree">Master's Degree</option>
                    <option value="PhD">PhD</option>
                    
                </select>
            </div>
            <div class="form-group">
                <label for="fields">Fields</label>
                @foreach(string field in Fields) {
                    <span @onclick="@(() => removeField(@field))">@field <i>x</i></span>
                }
                <select @bind="@FieldId" required>
                    <option value="">Select Fields</option>
                    @foreach (var fld in AllFields) {
                        <option value="@fld.Id" @onclick="AddField">@fld.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="skills">Skills</label>
                @foreach(string skill in Skills) {
                    <span @onclick="@(() => removeSkill(@skill))">@skill <i>x</i></span>
                }
                <select @bind="@SkillId">
                    <option value="">Select Skills</option>
                    @foreach (var skl in AllSkills) {
                        <option value="@skl.Id" @onclick="AddSkill">@skl.Name</option>
                    }
                </select>
                
            </div>
            <div class="form-group">
                <button type="submit" @onclick="SaveChanges">Save Changes</button>
                <h6 class="close" @onclick="EditProfile">Close</h6>
            </div>
        </form>

    } else {
        <h2>User Profile</h2>
        <div class="profile-details">
            <img src="img/default-avatar.png" alt="Profile Image" class="profile-image">
            <div class="profile-info">
                <p><strong>Full Name:</strong> @profileDTO.FirstName @profileDTO.LastName</p>
                <p><strong>Headline:</strong> @profileDTO.Headline</p>
                <p><strong>Location:</strong> @profileDTO.Location</p>
                <p><strong>Phone:</strong> @profileDTO.Phone</p>
                <p><strong>Email:</strong> @profileDTO.Email</p>
                <p><strong>Education Level:</strong> Not specified</p>
                <p><strong>Fields:</strong> @profileDTO.FreelancerFields</p>
                <p><strong>Skills:</strong> @profileDTO.FreelancerSkills</p>
            </div>
        </div>
        <button class="edit-button" @onclick="EditProfile">Edit Profile</button>
    }
</div>

@code {
    private bool isEditing = false;
    private string LoggedInUserId;

    private int countryId { get; set; }
    private int regionId { get; set; }
    private List<Location> countries = new();
    private List<Location>? regions = null;
    private List<Location>? cities = null;

    private int SkillId { get; set; }
    private int FieldId { get; set; }
    private string endpoint = "countries";

    List<string> Skills = new List<string>();
    List<string> Fields = new List<string>();

    ProfileDTO profileDTO = new ProfileDTO();
    List<Field> AllFields = new List<Field>();
    List<Skill> AllSkills = new List<Skill>();

    


    private void AddSkill() {
        Skill skill = AllSkills.FirstOrDefault(s => s.Id == SkillId);
        if (!Skills.Contains(skill.Name) && !string.IsNullOrEmpty(skill.Name)) {
            Skills.Add(skill.Name);
            profileDTO.TopSkills.Add(
                new FreelancerSkill() {
                    SkillId = skill.Id,
                    UserId = LoggedInUserId
                }
            );
        }
    }
    private void AddField() {
        Field field  = AllFields.FirstOrDefault(f => f.Id == FieldId);
        if (!Fields.Contains(field.Name) && !string.IsNullOrEmpty(field.Name)){
            Fields.Add(field.Name);
            profileDTO.TopFields.Add(
                new FreelancerField {
                    FieldId = field.Id,
                    UserId = LoggedInUserId
                }
            );
        }
    }
    private void removeSkill(string element) {
        Skills.Remove(element);
    }
    private void removeField(string element) {
        Fields.Remove(element);
    }
    private void EditProfile()
    {
        isEditing = !isEditing;
    }
    private async Task SaveChanges() {
        await ProfileService.UpdateProfileAsync(profileDTO, LoggedInUserId);
    }

    protected override async Task OnInitializedAsync()
    {
        countries = await LocationService.GetLocations(endpoint);
        endpoint = "regions/";

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        LoggedInUserId = AccountService.GetLoggedInUserIdAsync(authState).Value;
        profileDTO = await ProfileService.GetUserProfileAsync(LoggedInUserId);

        AllFields = await FieldService.GetAllFieldsAsync();
        AllSkills = await SkillService.GetAllSkillsAsync();
    }


     private async Task OnCountryChange()
    {
        regions = await LocationService.OnLocationChange(countryId, endpoint);
        if (regions != null)
            endpoint = "cities/";
    }

    private async Task OnRegionChange()
    {
        cities = await LocationService.OnLocationChange(regionId, endpoint);
    }
}