<div class="d-xl-flex">
    <SideBar />
    <MobileMenu />
    <!-- Right -->
    <div class="flex-grow-1 align-items-center position-relative">
    <DashboardHeader />
    <!-- Main -->
        <main class="dashboard-main min-vh-100">
            <div class="d-flex flex-column gap-4">
            <div>
                <h3 class="text-24 fw-bold text-dark-300 mb-2">
                Profile Settings
                </h3>
                <ul class="d-flex align-items-center gap-2">
                <li class="text-dark-200 fs-6">Dashboard</li>
                <li>
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="5"
                    height="11"
                    viewBox="0 0 5 11"
                    fill="none">
                    <path
                        d="M1 10L4 5.5L1 1"
                        stroke="#5B5B5B"
                        stroke-width="1.2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    </svg>
                </li>
                <li class="text-lime-300 fs-6">Profile Settings</li>
                </ul>
            </div>

            <!-- Content -->
            <div>
                <div class="row justify-content-center">
                <div class="col-xl-8">
                    <EditForm Model="clientProfileDTO" OnValidSubmit="SaveChanges">
                    <div class="d-flex flex-column gap-4">
                        <!-- Profile Info -->
                        <div class="profile-info-card">
                        <!-- Header -->
                        <div class="profile-info-header">
                            <h4 class="text-18 fw-semibold text-dark-300">
                            Profile Info
                            </h4>
                        </div>
                        <div class="profile-info-body bg-white">
                            <div class="row g-4">
                            <div class="col-md-6">
                                <div class="form-container">
                                <label for="fname" class="form-label">
                                    First Name
                                    <span class="text-lime-300">*</span>
                                </label>
                                <input
                                    @bind="clientProfileDTO.FirstName"
                                    type="text"
                                    class="form-control shadow-none"
                                    placeholder="Mansa"
                                    required
                                />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                <label for="lname" class="form-label">
                                    Last Name
                                    <span class="text-lime-300">*</span></label>
                                <input
                                    @bind="clientProfileDTO.LastName"
                                    type="text"
                                    class="form-control shadow-none"
                                    placeholder="Musa"
                                    required
                                />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-container">
                                <label for="email" class="form-label">
                                    Email Address
                                    <span class="text-lime-300">*</span></label>
                                <input
                                @bind="clientProfileDTO.Email"
                                    type="email"
                                    class="form-control shadow-none"
                                    placeholder="example@email.com"
                                    required
                                />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                <label for="username" class="form-label">
                                    Username
                                    <span class="text-lime-300">*</span></label>
                                <input
                                    @bind="clientProfileDTO.UserName"
                                    type="text"
                                    class="form-control shadow-none"
                                    placeholder="mansa_m"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                <label for="phone" class="form-label">
                                    Phone
                                    <span class="text-lime-300">*</span></label>
                                <input
                                    @bind="clientProfileDTO.Phone"
                                    type="text"
                                    class="form-control shadow-none"
                                    placeholder="0912345678"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                <label for="headline" class="form-label">
                                    Headline
                                    <span class="text-lime-300">*</span></label>
                                <input
                                    @bind="clientProfileDTO.Headline"
                                    type="text"
                                    class="form-control shadow-none"
                                    placeholder="CEO @("@MicrQ")"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                <label for="category" class="form-label">
                                    Country
                                    <span class="text-lime-300">*</span></label>
                                <select
                                    @bind="countryId" @bind:event="oninput" @onchange="OnCountryChange"
                                    id="country"
                                    autocomplete="off"
                                    class="form-select shadow-none">
                                    <option value="">Select Country</option>
                                    @foreach (var country in countries)
                                    {
                                    <option value="@country.Id">@country.Name</option>
                                    }
                                </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                <label for="state" class="form-label"
                                    >Region
                                    <span class="text-lime-300">*</span></label>
                                <select
                                @bind="regionId" @bind:event="oninput" @onchange="OnRegionChange"
                                    id="region"
                                    autocomplete="off"
                                    class="form-select shadow-none">
                                    <option value="">Select City</option>
                                    @if (regions != null) {
                                        @foreach (var region in regions)
                                        {
                                            <option value="@region.Id">@region.Name</option>
                                        }
                                    }
                                </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-container">
                                <label for="country" class="form-label">
                                    City
                                    <span class="text-lime-300">*</span></label>
                                <select
                                @bind="clientProfileDTO.LocationId"
                                    id="city"
                                    autocomplete="off"
                                    class="form-select shadow-none">
                                    <option value="">Select City</option>
                                    @if (cities != null) {
                                        @foreach (var city in cities)
                                        {
                                            <option value="@city.Id">@city.Name</option>
                                        }
                                    }
                                </select>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

                        <div class="profile-info-card">
                        <!-- Company Information form -->
                        <div class="profile-info-header">
                            <h4 class="text-18 fw-semibold text-dark-300">
                            Company Info
                            </h4>
                        </div>
                        <div class="profile-info-body bg-white">
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <div class="form-container">
                                    <label for="fname" class="form-label">
                                        Company Name
                                        <span class="text-lime-300">*</span>
                                    </label>
                                    <input
                                        @bind="clientProfileDTO.CompanyName"
                                        type="text"
                                        class="form-control shadow-none"
                                        placeholder="Abronal Technologies PLC"
                                    />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-container">
                                    <label for="tin" class="form-label">
                                        TIN
                                        <span class="text-lime-300">*</span></label>
                                    <input
                                        @bind="clientProfileDTO.TinNo"
                                        type="text"
                                        class="form-control shadow-none"
                                    />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-container">
                                    <label for="establishedDate" class="form-label">
                                        Established Date
                                        <span class="text-lime-300">*</span></label>
                                    <input
                                    @bind="clientProfileDTO.EstablishedDate"
                                        type="date"
                                        class="form-control shadow-none"
                                        placeholder="31/12/2018"
                                    />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-container">
                                <label for="category" class="form-label">
                                    Country
                                    <span class="text-lime-300">*</span></label>
                                <select
                                    @bind="companyCountryId" @bind:event="oninput" @onchange="OnCompanyCountryChange"
                                    id="country"
                                    autocomplete="off"
                                    class="form-select shadow-none">
                                    <option value="">Select Country</option>
                                    @foreach (var country in companyCountries)
                                    {
                                    <option value="@country.Id">@country.Name</option>
                                    }
                                </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                <label for="state" class="form-label"
                                    >Region
                                    <span class="text-lime-300">*</span></label>
                                <select
                                @bind="companyRegionId" @bind:event="oninput" @onchange="OnCompanyRegionChange"
                                    id="region"
                                    autocomplete="off"
                                    class="form-select shadow-none">
                                    <option value="">Select City</option>
                                    @if (companyRegions != null) {
                                        @foreach (var region in companyRegions)
                                        {
                                            <option value="@region.Id">@region.Name</option>
                                        }
                                    }
                                </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-container">
                                <label for="country" class="form-label">
                                    City
                                    <span class="text-lime-300">*</span></label>
                                <select
                                @bind="clientProfileDTO.CompanyLocationId"
                                    id="city"
                                    autocomplete="off"
                                    class="form-select shadow-none">
                                    <option value="">Select City</option>
                                    @if (companyCities != null) {
                                        @foreach (var city in companyCities)
                                        {
                                            <option value="@city.Id">@city.Name</option>
                                        }
                                    }
                                </select>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <!-- Profile Info -->
                        
                        <!-- Submit Btn -->
                        <div class="d-flex align-items-center gap-4">
                        <button class="w-btn-secondary-lg">
                            Save Now
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="10"
                            viewBox="0 0 14 10"
                            fill="none">
                            <path
                                d="M9 9L13 5M13 5L9 1M13 5L1 5"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            </svg>
                        </button>
                        <a href="/dashboard" style="cursor: pointer;" class="text-danger text-decoration-underline">
                            Cancel
                        </a>
                        </div>
                    </div>
                    </EditForm>
                </div>
                </div>
            </div>
            </div>
        </main>
        </div>
</div>
<LogoutPopUp />



@code {
    private string LoggedInUserId { get; set; }

    private int countryId { get; set; }
    private int regionId { get; set; }
    private int companyCountryId { get; set; }
    private int companyRegionId { get; set; }
    private List<Location> companyCountries = new List<Location>();
    private List<Location>? companyRegions = new List<Location>();
    private List<Location>? companyCities = new List<Location>();
    private List<Location> countries = new List<Location>();
    private List<Location>? regions = new List<Location>();
    private List<Location>? cities = new List<Location>();

    private string endpoint = "countries";

    private ClientProfileDTO clientProfileDTO = new ClientProfileDTO();

    private async Task SaveChanges() {
        await ProfileService.UpdateClientProfileAsync(clientProfileDTO);
        Navigation.NavigateTo("/dashboard");
    }

    protected override async Task OnInitializedAsync()
    {
        countries = await LocationService.GetLocations(endpoint);
        companyCountries = countries;
        endpoint = "regions/";

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        LoggedInUserId = AccountService.GetLoggedInUserIdAsync(authState).Value;
        clientProfileDTO = await ProfileService.GetClientProfileAsync(LoggedInUserId);
    }


    private async Task OnCountryChange()
    {
        regions = await LocationService.OnLocationChange(countryId, endpoint);
        if (regions != null)
            endpoint = "cities/";
    }

    private async Task OnRegionChange()
    {
        cities = await LocationService.OnLocationChange(regionId, endpoint);
    }

    private async Task OnCompanyCountryChange()
    {
        companyRegions = await LocationService.OnLocationChange(countryId, endpoint);
        if (regions != null)
            endpoint = "cities/";
    }

    private async Task OnCompanyRegionChange()
    {
        companyCities = await LocationService.OnLocationChange(companyRegionId, endpoint);
    }
}
