
<div class="d-xl-flex">
<SideBar />
<MobileMenu />
<!-- Right -->
<div class="flex-grow-1 align-items-center position-relative">
    <DashboardHeader />
    <!-- Main -->
    <main class="dashboard-main min-vh-100">
    <div class="d-flex flex-column gap-4">
        <!-- Page Header -->
        <div
        class="d-flex gap-4 flex-column flex-md-row align-items-md-center justify-content-between"
        >
        <div>
            <h3 class="text-24 fw-bold text-dark-300 mb-2">Dashboard</h3>
            <ul class="d-flex align-items-center gap-2">
            <li class="text-dark-200 fs-6">Dashboard</li>
            </ul>
        </div>
        </div>
        <div class="row g-4">
        
        <div class="col-xl col-md-6">
            <div
            class="p-4 d-flex align-items-center dashobard-widget justify-content-between bg-white rounded-4"
            >
            <div>
                <h3 class="dashboard-widget-title fw-bold text-dark-300">
                @Info.Apps
                </h3>
                <p class="text-18 text-dark-200">Total Applications</p>
            </div>
            <div class="dashboard-widget-icon">
                <img src="img/dashboard/icon/icon-2.png" alt="" />
            </div>
            </div>
        </div>
        <div class="col-xl col-md-6">
            <div
            class="p-4 d-flex align-items-center dashobard-widget justify-content-between bg-white rounded-4"
            >
            <div>
                <h3 class="dashboard-widget-title fw-bold text-dark-300">
                35
                </h3>
                <p class="text-18 text-dark-200">Complete Jobs</p>
            </div>
            <div class="dashboard-widget-icon">
                <img src="img/dashboard/icon/icon-3.png" alt="" />
            </div>
            </div>
        </div>
        <div class="col-xl col-md-6">
            <div
            class="p-4 d-flex align-items-center dashobard-widget justify-content-between bg-white rounded-4"
            >
            <div>
                <h3 class="dashboard-widget-title fw-bold text-dark-300">
                02
                </h3>
                <p class="text-18 text-dark-200">Active Jobs</p>
            </div>
            <div class="dashboard-widget-icon">
                <img src="img/dashboard/icon/icon-4.png" alt="" />
            </div>
            </div>
        </div>
        </div>
        <!-- Content -->
        <div>
        <h3 class="text-24 fw-bold text-dark-300 mb-2">Latest Jobs</h3>
        <!-- Table -->
        <div class="overflow-x-auto">
            <div class="w-100">
            <table class="w-100 dashboard-table">
                <thead class="pb-3">
                <tr>
                    <th scope="col" class="ps-4">Project Name</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Status</th>
                    <th scope="col">My Offer</th>
                    <th scope="col">Submitted</th>
                    <th scope="col" class="pe-5 text-end">Action</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var app in Apps) {
                            <tr>
                            <td>
                                <div
                                class="d-flex gap-3 align-items-center project-name"
                                >
                                <div class="rounded-3">
                                    <img
                                    src="img/dashboard/projects/1.png"
                                    alt=""
                                    />
                                </div>
                                <div>
                                    <p class="text-dark-200">
                                    @app.JobTitle
                                    </p>
                                </div>
                                </div>
                            </td>
                            <td class="text-dark-200"> ETB @app.JobBudget</td>
                            <td>
                                <span class="status-badge @(Utils.GetStatusColor(app.StatusName))">
                                    @app.StatusName
                                </span>
                            </td>
                            <td class="text-dark-200">
                                ETB @app.Amount
                            </td>
                            <td class="text-dark-200">
                                @(Utils.GetTimeAgo((DateTime)app.CreatedAt))
                            </td>
                            <td>
                                <div class="d-flex justify-content-end gap-2">

                                <a href="my-applications/@app.Id">
                                <button class="dashboard-action-btn">
                                    <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="48"
                                    height="48"
                                    viewBox="0 0 48 48"
                                    fill="none"
                                    >
                                    <circle
                                        cx="24"
                                        cy="24"
                                        r="24"
                                        fill="#EDEBE7"
                                    />
                                    <path
                                        d="M34.3187 21.6619C35.6716 23.0854 35.6716 25.248 34.3187 26.6714C32.0369 29.0721 28.1181 32.3333 23.6667 32.3333C19.2152 32.3333 15.2964 29.0721 13.0147 26.6714C11.6618 25.248 11.6618 23.0854 13.0147 21.6619C15.2964 19.2612 19.2152 16 23.6667 16C28.1181 16 32.0369 19.2612 34.3187 21.6619Z"
                                        stroke="#5B5B5B"
                                        stroke-width="1.5"
                                    />
                                    <circle
                                        cx="23.668"
                                        cy="24.167"
                                        r="3.5"
                                        stroke="#5B5B5B"
                                        stroke-width="1.5"
                                    />
                                    </svg>
                                </button>
                                </a>
                                </div>
                            </td>
                            </tr>
                        }       
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
    </main>
</div>
</div>
<LogoutPopUp />

@code {
    private string LoggedInUserId { get; set; }
    private InfoDTO Info { get; set; } = new InfoDTO();
    private List<ApplicationDTO> Apps = new List<ApplicationDTO>();


    private void Logout() {
        Navigation.NavigateTo("/logout");
    }

    protected override async Task OnInitializedAsync() {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        LoggedInUserId = AccountService.GetLoggedInUserIdAsync(authState).Value;

        Info = await ProfileService.GetAppInfoAsync(LoggedInUserId);
        Apps = await ApplicationService.GetAllUserApplications(LoggedInUserId);

    }
}
